[submodule "vendor/ainb"]
	path = vendor/ainb
	url = https://github.com/TKVSC-Team/AINB.git
[submodule "vendor/asb"]
	path = vendor/asb
	url = https://github.com/TKVSC-Team/asb.git
[submodule "vendor/pymsbt"]
	path = vendor/pymsbt
	url = https://github.com/TKVSC-Team/pymsbt.git
[submodule "vendor/py-bntx"]
	path = vendor/py-bntx
	url = https://github.com/TKVSC-Team/py-bntx.git
