.github/
.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/
**/__pycache__/**
**/*.pyc
**/.git/**
icons/*.ai
graphics/
vendor/py-xlink2
.github/
.venv/**
context/
docs/
images
node_modules/
!node_modules/sql.js/**
.gitmodules
scripts/
.ruff_cache/
totk_vscode_pythn.egg-info